<div class="page-error centered"> <div class="error-symbol"> <i class="fa-warning"></i> </div> <h2>
        Desautorizado
        <small>Isso pode ter acontecido porque:</small> </h2> 
    <p>Você não tem permissão para acessar essa página</p> 
</div>