<div class="modal-header">
    <h3>
        Permissão
        <br>
        <small>Inserir Permissão</small>
    </h3>
</div>
<br>
<div class="input-group">
    <span class="input-group-addon"></span>
    <input ng-model="formData.name" type="text" class="form-control" placeholder="Nome">
</div>
<br>
<div class="input-group">
    <span class="input-group-addon"></span>
    <textarea ng-model="formData.description" class="form-control autogrow" cols="5" id="field-5" placeholder="Descrição" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 50px;"></textarea>
</div>
<br>

<div class="input-group">
    <span id="span_resources_type_selected" class="input-group-addon"><i class="fa fa-circle-o-notch fa-spin"></i></span>
    <select ng-model="formData.resources_type_selected" class="form-control" ng-options="resources_type as resources_type.type_name for resources_type in resources_type track by resources_type.id_type"></select>
</div>


<div class="modal-footer">
    <button id="saveButton" ng-click="doInsert(formData)" class="btn btn-blue pull-right">
        <span id="saveLabel">Salvar</span>
    </button>
</div>