<page-title ng-if="layoutOptions.pageTitles" title="Permissões" description="Cadastre, atualize ou inative permissões"></page-title>

<div ng-controller="ResourcesCtrl" class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <button ng-click="openModalInsertAction()" data-allowed="1" class="btn btn-blue btn-icon btn-icon-standalone btn-icon-standalone-right">
                <i class="fa-plus"></i>
                <span>Inserir Registro</span>
            </button>
        </h3>
        <div class="panel-options">
            <a href="" data-toggle="panel">
                <span class="collapse-icon">&ndash;</span>
                <span class="expand-icon">+</span>
            </a>
            <a ng-click="reloadPanelAction()" href="">
                <i class="fa-rotate-right"></i>
            </a>
            <a href="" data-toggle="remove">
                &times;
            </a>
        </div>
    </div>

    <form>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                <input type="text" class="form-control" placeholder="Procurar Permissão" ng-model="search">
            </div>      
        </div>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>
                    <a ng-click="sortType = 'id_resource';
                                sortReverse = !sortReverse">#
                        <span ng-show="!sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th>Nome</th>
                <th>Descrição</th>
                <th> <a ng-click="sortType = 'created_on';
                            sortReverse = !sortReverse">Criado em
                        <span ng-show="!sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortReverse" class="fa fa-caret-up"></span>
                    </a></th>
                <th> <a ng-click="sortType = 'updated_on';
                            sortReverse = !sortReverse">Atualizado em
                        <span ng-show="!sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortReverse" class="fa fa-caret-up"></span>
                    </a></th>
                <th>Alterado por</th>
                <th>Tipo</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="resource in resources| orderBy:sortType:sortReverse | filter:search" ng-show="resource.active">
                <td>{{resource.id_resource}}</td>
                <td>{{resource.resource_name}}</td>
                <td>{{resource.resource_desc}}</td>
                <td>{{resource.created_on| limitTo : 10: 0 | date:"dd/MM/yyyy"}}</td>
                <td>{{resource.updated_on| limitTo : 10: 0 | date:"dd/MM/yyyy"}}</td>
                <td>{{resource.owner}}</td>
                <td>{{resource.type_entity[0].type_name}}</td>
                <td>
                    <span ng-class="resource.active == 1 ? 'label label-success' : 'label label-danger'">{{status[resource.active]}}</span></td>
                <td>
                    <div class="btn-group" data-dropdown="">
                        <button id="btn_resource_{{resource.id_resource}}" type="button" class="btn btn-blue dropdown-toggle" data-toggle="dropdown" data-aria-haspopup="true" data-aria-expanded="false">
                            Ações <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-blue" role="menu">
                            <li data-allowed="1" class="ms-hover">
                                <a ng-click="openModalEditAction(resource.id_resource)" href="">Editar</a>
                            </li>
                            <li class="ms-hover">
                                <a ng-click="toggleStatusAction(resource.id_resource)" href="">Desativar</a>
                            </li>                            
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>