<div class="modal-header">
    <h3>
        Grupo
        <br>
        <small>Inserir Grupo</small>
    </h3>
</div>
<br>
<div class="input-group">
    <span class="input-group-addon"></span>
    <input ng-model="formData.name" type="text" class="form-control" placeholder="Nome">
</div>
<br>
<div id="selectSpinner" class="text-center">
    <i class="fa fa-circle-o-notch fa-spin"></i>
</div>
<div id="selectContainer">
    <select
        multiple 
        bs-duallistbox 
        filter-placeholder="Filtrar" 
        filter-clear="Mostrar Todos" 
        info-filtered="<span class='label label-warning'>Filtrando</span> {0} de {1}" 
        info-all="Total {0}" 
        info-empty="Lista Vazia" 
        ng-model="formData.resources_selected" 
        ng-options="resources as resources.resource_name for resources in resources track by resources.id_resource"
        class="form-control" 
        ></select>
</div>
<br>

<div class="modal-footer">
    <button id="saveButton" ng-click="doInsert(formData)" class="btn btn-blue pull-right">
        <span id="saveLabel">Salvar</span>
    </button>
</div>