
<div class="login-container">

    <div class="row">

        <div class="col-sm-6">

            <script type="text/javascript">
                jQuery(document).ready(function ($)
                {
                    // Reveal Login form
                    setTimeout(function () {
                        $(".fade-in-effect").addClass('in');
                    }, 1);

                    // Set Form focus
                    $("form#login .form-group:has(.form-control):first .form-control").focus();
                });
            </script>

            <!-- Errors container -->
            <div class="errors-container">


            </div>

            <!-- Add class "fade-in-effect" for login form effect -->
            <form method="post" role="form" id="login" class="login-form fade-in-effect">

                <div class="login-header">
                    <a href="#/app/dashboard-variant-1" class="logo">
                        <img src="assets/images/logo@2x.png" alt="" width="80" />
                        <span>Log in</span>
                    </a>

                    <p>Insira seus dados abaixo para efetuar o Log in</p>
                </div>


                <div class="form-group">
                    <input ng-model="data.username" type="text" class="form-control input-dark" name="username" id="username" autocomplete="off" />
                </div>

                <div class="form-group">
                    <input ng-model="data.password" type="password" class="form-control input-dark" name="passwd" id="passwd" autocomplete="off" />
                </div>

                <div class="form-group">
                    <button ng-click="doLogin(data)" type="submit" class="btn btn-blue  btn-block text-left">
                        <i class="fa-lock"></i>
                        Log In
                    </button>
                </div>

                <div class="login-footer">
                    <a href="">Esqueceu sua senha?</a>

                    <div class="info-links">
                        <a href="">Termos de uso</a>
                    </div>

                </div>

            </form>

        </div>

    </div>

</div>