<div class="sidebar-menu" ng-if="layoutOptions.sidebar.isVisible" ng-class="{'collapsed': layoutOptions.sidebar.isCollapsed, 'toggle-others': layoutOptions.sidebar.toggleOthers, 'fixed': layoutOptions.sidebar.isFixed && layoutOptions.container.isBoxed == false}">

    <div class="sidebar-menu-inner">

        <sidebar-logo ng-if="layoutOptions.horizontalMenu.isVisible == false"></sidebar-logo>

        <sidebar-menu></sidebar-menu>

    </div>

</div>

<div class="main-content">

    <user-info-navbar ng-show="layoutOptions.horizontalMenu.isVisible == false"></user-info-navbar>

    <ui-view class="main-content-view"></ui-view>

    <site-footer></site-footer>

</div>