<nav class="navbar user-info-navbar" ng-class="{
        'mobile-is-visible'
        : layoutOptions.userInfoNavVisible}" ng-click="mobileUserInfoToggle()" role="navigation"><!-- User Info, Notifications and Menu Bar -->

    <!-- Left links for user info navbar -->
    <ul class="user-info-menu left-links list-inline list-unstyled">

        <li class="hidden-sm hidden-xs">
            <a href="" ng-click="sidebarToggle()">
                <i class="fa-bars"></i>
            </a>
        </li>


        <li class="dropdown hover-line language-switcher">
            <a href="" class="dropdown-toggle" data-toggle="dropdown">
                <img src="assets/images/flags/flag-br.png" alt="flag-br" />
                Português
            </a>

            <!--            <ul class="dropdown-menu languages">
                            <li>
                                <a href="#">
                                    <img src="assets/images/flags/flag-al.png" alt="flag-al" />
                                    Shqip
                                </a>
                            </li>
                            <li class="active">
                                <a href="#">
                                    <img src="assets/images/flags/flag-uk.png" alt="flag-uk" />
                                    English
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="assets/images/flags/flag-de.png" alt="flag-de" />
                                    Deutsch
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="assets/images/flags/flag-fr.png" alt="flag-fr" />
                                    Fran&ccedil;ais
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="assets/images/flags/flag-br.png" alt="flag-br" />
                                    Portugu&ecirc;s
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="assets/images/flags/flag-es.png" alt="flag-es" />
                                    Espa&ntilde;ol
                                </a>
                            </li>
                        </ul>-->
        </li>

    </ul>


    <!-- Right links for user info navbar -->
    <ul class="user-info-menu right-links list-inline list-unstyled">
        <li class="fullscreen" ng-show="isFullscreenSupported">
            <a href="" ng-click="goFullscreen()" title="Fullscreen">
                <i ng-class="{
                        'fa-expand'
                        : !isFullscreen, 'fa-compress': isFullscreen == true}"></i>
            </a>
        </li>


        <li class="dropdown user-profile">
            <a href="" class="dropdown-toggle" data-toggle="dropdown">
                <img src="assets/images/user-4.png" alt="user-image" class="img-circle img-inline userpic-32" width="28" />
                <span>
                    {{userName}}
                    <i class="fa-angle-down"></i>
                </span>
            </a>

            <ul class="dropdown-menu user-profile-menu list-unstyled">
                <li>
                    <a href="#edit-profile">
                        <i class="fa-edit"></i>
                        Ação do usuário 1
                    </a>
                </li>
                <li>
                    <a href="#settings">
                        <i class="fa-wrench"></i>
                        Ação do usuário 2
                    </a>
                </li>
                <li>
                    <a href="#profile">
                        <i class="fa-user"></i>
                        Ação do usuário 3
                    </a>
                </li>
                <li>
                    <a href="#help">
                        <i class="fa-info"></i>
                        Ação do usuário 4
                    </a>
                </li>
                <li class="last">
                    <a href="/#/logout">
                        <i class="fa-lock"></i>
                        Logout
                    </a>
                </li>
            </ul>
        </li>

    </ul>

</nav>