.navbar {
  border: 1px solid white !important;
}
.panel .panel-disabled {
  background: rgba(0, 121, 194, 0.8) !important;
  z-index: 99;
}
footer {
  height: 50px;
  padding: 17px;
}
td {
  vertical-align: middle !important;
}
.modal-footer {
  padding: 0px !important;
  padding-top: 20px !important;
}
.form-control {
  padding: 10px !important;
}
.moveall {
  border: 1px solid #E4E4E4 !important;
}
.removeall {
  border: 1px solid #E4E4E4 !important;
}
/*# sourceMappingURL=philips.css.map */